:root {
	--font-fallback: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
	--font-body: 'Inter', var(--font-fallback);
	--font-mono: 'Monaco', 'Courier New', 'Courier', monospace;

	--color-shade0:    208 12% 6%;
	--color-shade100:  225 26% 16%;
	--color-shade200:  208 12% 20%;
	--color-shade300:  225 26% 32%;
	--color-shade600:  225 26% 45%;
	--color-shade700:  225 26% 56%;
	--color-shade1000: 208 12% 72%;
	--color-shade1100: 225 26% 80%;
	--color-shade1600: 225 26% 96%;

	--color-dawn: 16 68% 68%;
}

html {
	font-size: 62.5%;
}

body {
	display: grid;
	min-height: 100vh;
}

::selection {
	color: hsl(var(--color-shade100));
	background-color: hsl(var(--color-dawn));
}

* {
	box-sizing: border-box;
}
