.title {
    display: block;
    margin: 0 0 12px;
    color: hsl(var(--color-shade700));
    font-size: 1.6rem;
  }

.heardList {
  display: grid;
  grid: auto-flow dense / auto;
  gap: 12px;
  margin: 0;
  padding: 0;

  @media screen and (min-width: 992px) {
    grid: auto auto / repeat(auto-fill, minmax(200px, 1fr));
  }

  li {
    list-style: none;
  }
}

.mediaEmoji {
  display: inline-block;
  margin-bottom: 4px;
  color: hsl(var(--color-shade1100));
  font-size: 1.8rem;
}

.mediaList {
  margin: 0;
  padding: 8px 12px;
  background-color: hsla(var(--color-shade100) / 0.5);
  border-radius: 12px;
}

.player {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  padding-top: 32px;
  padding-right: 12px;
  padding-bottom: 16px;
  padding-left: 12px;
  background: hsla(var(--color-shade0) / 0.5);
  backdrop-filter: blur(8px);

  @media screen and (min-width: 768px) {
    top: 16px;
    right: 16px;
    bottom: unset;
    left: unset;
    margin: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    background-color: unset;
    backdrop-filter: unset;
  }

  &Action {
    margin-top: -32px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: right;
  }

  &Iframe {
    width: 100%;
    border: 0;
  }
}

.close {
  padding-right: 8px;
  padding-left: 8px;
  appearance: none;
  color: hsl(var(--color-shade1100));
  font-size: 16px;
  line-height: 24px;
  background-color: hsl(var(--color-shade300));
  border: 0;
  border-radius: 50%;
}
