.player {
  width: 320px;
  height: 180px;
  position: fixed;
  right: 12px;
  bottom: 24px;

  @media screen and (min-width: 992px) {
    top: 48px;
    bottom: initial;
  }
}

.mediaList {
  margin: 0;
  padding: 8px 12px;
  background-color: hsl(var(--color-shade100));
  border-radius: 12px;
}

.mediaName {
  display: inline-block;
  margin-right: 4px;
  color: hsl(var(--color-shade1100));
  font-family: var(--font-body);
  font-size: 1.6rem;
  line-height: 32px;
  font-weight: 400;
}

.mediaYear {
  display: inline-block;
  color: hsl(var(--color-shade700));
  font-family: var(--font-body);
  font-size: 1.4rem;
  font-weight: 400;
}
