---
import HeardItem from './HeardItem.jsx';

export interface Props {
  heard: {
    emoji: string;
    name: string;
    year: string;
    url: string;
  };
}

const { heard } = Astro.props;
---

<strong class="title">出現在</strong>
<ul class="heardList">
{
  heard.map(({ emoji, media }) => {
    return(
      <li>
        <strong class="mediaEmoji">{emoji}</strong>
        <HeardItem media={media} client:idle />
      </li>
    )
  })
}
</ul>

<style lang="scss">
.title {
  display: block;
  margin: 0 0 12px;
  color: hsl(var(--color-shade700));
  font-size: 1.6rem;
}

.heardList {
  display: grid;
  grid: auto-flow dense / auto;
  gap: 12px;
  margin: 0;
  padding: 0;

  :global(li) {
    list-style: none;
  }

  @media screen and (min-width: 992px) {
    grid: auto auto / repeat(auto-fill, minmax(200px, 1fr));
  }
}

.mediaEmoji {
  display: inline-block;
  margin-bottom: 4px;
  color: hsl(var(--color-shade1100));
  font-size: 1.8rem;
}

.player {
  position: fixed;
  top: 48px;
  left: 12px;
}

</style>
