<header class="siteName">
  <img class="logo" src="/logo/initial.svg" alt="The Moment" />
  <h1 class="fullname">看電影、看劇還有廣告時，聽到喜歡的音樂</h1>
</header>

<style lang="scss">
  .siteName {
    display: grid;
    grid: auto / 48px 1fr;
    column-gap: 12px;
    align-items: center;
    margin-bottom: 32px;
    padding: 16px 16px 0;

    @media screen and (min-width: 992px) {
      padding: 16px 0 0;
    }
  }

  .logo {
    width: 48px;
    aspect-ratio: 1;
  }

  .fullname {
    margin: 0;
    color: hsl(var(--color-shade1100));
    font-size: clamp(1.6rem, 1.8vw, 2rem);
    font-weight: 400;
  }
</style>
