---
export interface Props {
  artist: string;
}

const { artist } = Astro.props;
---

<nav>
  <ul class="sitePathList">
    <li class="sitePathItem">
      <a class="link" href="/">
        <span class="logo">
          <img class="logoImage" src="/logo/momentPathSpin.svg" alt="The Moment" />
        </span>
        Moment
      </a>
    </li>
    <li class="sitePathItem">
      <img class="pathIndicator" src="/chevronRight.svg" alt="下一項是：" />
    </li>
    <li class="sitePathItem pathTail">
      🤘 {artist}
    </li>
  </ul>
</nav>

<style lang="scss">
.sitePathList {
  display: grid;
  grid: auto / max-content 8px 1fr;
  column-gap: 12px;
  align-items: center;
  margin: 0;
  padding: 0 16px;

  @media screen and (min-width: 992px) {
    padding: 0;
  }
}

.sitePathItem {
  list-style: none;
}

.link {
  display: block;
  padding: 14px 0;
  color: hsl(var(--color-shade1000));
  font-size: 1.4rem;
  line-height: 20px;
  text-decoration: none;

  &:hover {
    .logoImage {
      opacity: 1;
      transition: opacity 0.25s ease-in;
    }
  }
}

.logo {
  display: inline-block;
  width: 20px;
  aspect-ratio: 1;
  background-image: url("/logo/monochrome.svg");
}

.logoImage {
  opacity: 0;
  width: 20px;
  aspect-ratio: 1;
  vertical-align: bottom;
  transition: opacity 0.25s ease-out;
}

.pathIndicator {
  vertical-align: text-bottom;
}

.pathTail {
  color: hsl(var(--color-shade1000));
  font-size: 1.4rem;
  line-height: 20px;
}

</style>
